@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width:762px) {
  div.image_bg {
    display: none !important;
  }
}

[class*="revelation-"]{
  opacity:0;
  transform: translateY(-30px);
}
.revelation-visible{
  opacity:1;
  transform: translateY(0);
  transition: 0.8s cubic-bezier(.5,0,0,1);
}
.revelation-2{
  transition-delay: .1s;
}
.revelation-3{
  transition-delay: .1s;
}
.revelation-4{
  transition-delay: .2s;
}
.revelation-5{
  transition-delay: .3s;
}
[class*="revelationSkill-"]{
  opacity:0;
  transform: translateX(-30px);
}
.revelationSkill-visible{
  opacity:1;
  transform: translateY(0);
  transition: 1s cubic-bezier(.5,0,0,1);
}
.revelationSkill-2{
  transition-delay: .1s;
}
.revelationSkill-3{
  transition-delay: .2s;
}
.revelationSkill-4{
  transition-delay: .3s;
}
.revelationSkill-5{
  transition-delay: .4s;
}
.revelationSkill-6{
  transition-delay: .5s;
}
.revelationSkill-7{
  transition-delay: .6s;
}

[class*="revelationProject-"]{
  opacity:0;
  transform: translateX(-30px);
}
.revelationProject-visible{
  opacity:1;
  transform: translateY(0);
  transition: 1s cubic-bezier(.5,0,0,1);
}
.revelationProject-2{
  transition-delay: .1s;
}
.revelationProject-3{
  transition-delay: .2s;
}
.revelationProject-4{
  transition-delay: .3s;
}